body {
    background-image: url("../images/crystal-collector-background.jpg");
    background-size:     cover;                      
    background-repeat:   no-repeat;
    background-position: center center;
    height: 100%;
}

html {
    height: 100%;
}

.jumbotron {
    background-color: inherit;
}

h1 {
    color: yellow;
}

.target-score, .current-score {
    color: yellow;
    font-weight: bold;
    font-size: 30px;
}

#instructions {
    color: white;
    font-style: italic;
    cursor: pointer;
}

.flexbox {
    display:flex;
    justify-content:center;
    align-items: center;
    flex-flow: column;
}

.footer {
    color: white;
    height: 10%;
    font-weight: bold;
    font-size: xx-large;
}

.win-align {
    width: 50%;
    float: left;
    background-color: yellow;
    text-align: center;
    height:100%; 
    border-radius: 25px;
    color: green;
    border: 6px green solid;
}

.loss-align {
    width: 50%;
    float: left;
    background-color:yellow;
    text-align: center;
    height:100%;
    border-radius: 25px;
    color: red;
    border: 6px red solid;
}

.modal {
    display: none;
    position: fixed;
    z-index: 9999; 
    padding-top: 100px; 
    left: 0;
    top: 0;
    width: 100%;
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.9);
  }

#instructionText {
    color: white;
    font-weight: bold;
    font-size: 25px;
}

#instructionHeading {
    color: white;
    font-weight: bold;
    font-size: 25px;
    text-align: center;
    text-decoration: underline;
}

.crystal-config {
    cursor: pointer;
    transition: transform .2s;
}

  .crystal-config:hover {
    transform: scale(1.3)
  }

  @-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)} 
    to {-webkit-transform:scale(1)}
  }

  @keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
  }

  .close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
  }

  .close:hover, .close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

@media (min-width: 992px){
    .container {
        max-width: none;
    }
}
